.SearchBar{
  position: absolute;
  top: 20px;
  right: 16px;
}

.SearchButton button{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 3px 10px;
  font-size: 14px;
  border-radius: 5px;
}

.Search{
  float: right;
  margin-right: 5px;
  font-size: 17px;
}

.searchHere{
  display: flex;
  margin-top: 5px;
}

.Logo{
  height: 15px;
  margin-left: 40px;
}

.Logo img {
  height: 70px;
}

.header{
  background-color: burlywood;
  height: 80px;
}

.HeaderText{
  margin-left: 150px;
  font-size:40px;
}

.NavBar ul{

  list-style-type: none;
  background-color: #333;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.NavBar li{
  float: left;
  padding: 10px 16px;
  color: white;
}

.NavBar li:hover{
  background-color: #111;
  cursor: pointer;
}

.NavBar{
  margin-top: -17px;
}

/* For quotes */

footer {
  position: fixed;
  left: 0;
  bottom: 10px;
  width: 100%;
  text-align: center;
  background-color: yellowgreen;
}

.quotebox {
  height:100%;
  width:100%;
  border :1px rgb(145, 126,126) solid;
  border-radius: 10px;
  text-align: right;
  max-width: 45rem;
  margin-top: -12px;
}

#quote{
  margin:30px;
  text-align: left;
}

.fadeIn {
  height: 100%;
  opacity: 0;
  display: block;
  animation: slidein 1s ease-out forwards;
}



@keyframes slidein {
  0% {
    opacity: 0;
    transform: translateY(-25px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

#author {
  margin: 15px;
  font-style: italic;
}

#newquote {
  cursor: pointer;
  margin:10px;
  background-color: green;
  position: relative;
  border-radius: 8px;
  height: 35px;
  width: 100px;
  font-weight: 700;
  font-family: "Segoe UI", "Tahoma", "Geneva", "Verdana", sans-serif;
  color: white;
}

/*Form */
.form input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.form input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form input[type=submit]:hover {
  background-color: #45a049;
}

.form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.col1{
  width: 60%;
  float: left;
}

.col2{
  width: 40%;
  float: left;
}

.label{
  color: white;
  padding: 8px;
  font-family: Arial;
  background-color: #2196F3;
}


